<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>列表测试</title>
	<meta charset="utf-8" />	
	
	<link href="css/style.css" type="text/css" />
	<script src="js/jquery-1.11.0.min.js" type="text/javascript"></script>
	<script src="js/vue.js" type="text/javascript"></script>
	<script src="js/vue-resource.js" type="text/javascript"></script>
	<script src="plugin/jQueryUI/jquery-ui.js" type="text/javascript"></script>
	<script src="plugin/jqGrid/js/i18n/grid.locale-en.js" type="text/javascript"></script>
	<script src="plugin/jqGrid/js/jquery.jqGrid.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="plugin/jQueryUI/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="plugin/jqGrid/css/ui.jqgrid.css" />
</head>
<body>
   <table>
	   <tr>
		   <th>测试字段1</th>
		   <td><input name="Field1" type="text" /></td>
		   <th>测试字段1</th>
		   <td><input name="Field1" type="text" /></td>
	   	</tr>
	   	 <tr>
		   <th>测试字段1</th>
		   <td><input name="Field1" type="text" /></td>
		    <th>测试字段1</th>
		   <td><input name="Field1" type="text" /></td>
	   	</tr>
   </table>
   <div style="text-align:center;">
   	 <button>保存</button>
   	 <button onclick="window.close()">取消</button>
   </div>
</body>
</html>